@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@function toRem($value) {
  $remValue: calc($value / 10) + rem;
  @return $remValue;
}

@mixin size($width, $height) {
  width: toRem($width);
  height: toRem($height);
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  @if $top {
    top: toRem($top);
  }
  @if $right {
    right: toRem($right);
  }
  @if $bottom {
    bottom: toRem($bottom);
  }
  @if $left {
    left: toRem($left);
  }
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

.huww-widget {
  background-color: white;
  border-radius: toRem(8);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 99999;

  &.huww-widget-top-left {
    @include fixed($top: 18, $left: 10);
  }

  &.huww-widget-top-right {
    @include fixed($top: 18, $right: 10);
  }

  &.huww-widget-bottom-right {
    @include fixed($bottom: 10, $right: 10);
  }

  &.huww-widget-bottom-left {
    @include fixed($bottom: 10, $left: 10);
  }

  .huww-logo {
    @include absolute($top: -8, $right: -8);
  }
}

.huww-widget-four {
  padding: toRem(12) toRem(8) toRem(8) toRem(16);

  .huww-half-flag {
    width: toRem(8);
    @include absolute($left: 0, $top: 0, $bottom: 0);
  }

  .huww-hashtag {
    margin-top: toRem(2);
    margin-bottom: toRem(8);
  }
}

.huww-widget-three {
  padding: toRem(8);
  padding-top: toRem(16);
  text-align: center;

  .huww-title {
    font-size: toRem(14);
    line-height: toRem(18);
    color: #0b3c94;
  }

  .huww-subtitle {
    color: #f7d648;
    padding-bottom: toRem(8);
  }
}

.huww-widget-two {
  padding: toRem(8);
  padding-top: toRem(16);
  margin-top: toRem(16);
  text-align: center;

  .huww-divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: toRem(8) 0;
  }

  .huww-flag {
    margin: toRem(-32) auto toRem(8);
  }
}

.huww-widget-one {
  padding: toRem(8);
  padding-left: toRem(48);
  margin-right: toRem(12);

  .huww-flag {
    @include absolute($top: 8, $left: 8, $bottom: 8);
    height: toRem(36);
  }
}

.huww-flag {
  width: toRem(32);

  .huww-flag-top {
    @include size(32, 16);
    background: #2559b5;
    border-radius: toRem(8) toRem(8) 0 0;
  }

  .huww-flag-bottom {
    @include size(32, 16);
    background: #f7d648;
    border-radius: 0 0 toRem(8) toRem(8);
  }
}

.huww-half-flag {
  .huww-half-flag-top {
    @include size(32, 16);
    background: #2559b5;
    border-radius: toRem(8) 0 0 0;
    height: 50%;
    width: 100%;
  }

  .huww-half-flag-bottom {
    @include size(32, 16);
    background: #f7d648;
    border-radius: 0 0 0 toRem(8);
    height: 50%;
    width: 100%;
  }
}

.huww-title {
  font-size: toRem(13);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: toRem(16);
  margin: 0;
  opacity: 0.8;
}

.huww-subtitle {
  font-size: toRem(14);
  line-height: toRem(18);
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  margin: 0;
  opacity: 0.8;
}

.huww-link {
  font-family: "Roboto", sans-serif;
  font-size: toRem(12);
  font-weight: 500;
  line-height: toRem(14);
  color: #3798ce;
  text-decoration: none;

  &:hover::after {
    content: "▸";
  }
}

.huww-logo {
  display: block;
  width: toRem(16);
  height: toRem(16);

  background-color: #015bbb;

  border-radius: toRem(16);
  text-decoration: none;

  transition: width 0.3s;
  overflow: hidden;

  .huww-logo-img {
    @include size(16, 16);
    @include absolute($right: 0, $top: 0);

    background-image: url(data-url:./logo.svg);
    background-size: cover;
  }

  .huww-logo-text {
    @include absolute($top: 0, $right: 16);
    width: toRem(44);
    overflow: hidden;

    font-family: "Roboto", sans-serif;
    font-size: toRem(9);
    line-height: toRem(16);
    font-weight: 600;
    white-space: nowrap;

    color: white;
  }

  &:hover {
    width: toRem(68);
  }
}

.huww-button {
  @include size(80, 26);

  display: block;
  background: rgba(55, 152, 206, 0.12);
  border-radius: toRem(3);

  color: #3798ce;

  font-family: "Roboto", sans-serif;
  font-size: toRem(12);
  font-weight: 500;

  line-height: toRem(26);

  text-align: center;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.huww-hashtag {
  font-family: "Roboto", sans-serif;
  font-size: toRem(12);
  font-weight: 400;

  color: #000000;
  opacity: 0.6;
  margin: 0;
}
