@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'slider';

@function units($value) {
  @return $value * 12.8px;
}

$color_blue: #2559b5;
$color_yellow: #f7d648;
$shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

@mixin size($width, $height) {
  width: units($width);
  height: units($height);
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  @if $top {
    top: units($top);
  }
  @if $right {
    right: units($right);
  }
  @if $bottom {
    bottom: units($bottom);
  }
  @if $left {
    left: units($left);
  }
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

$f_offset: units(1.4);
$f_radius: units(1);

.huww-widget {
  z-index: 99999999;
  padding: $f_offset;
  @media screen and (min-width: 1024px) {
    padding: units(1.8);
  }
}

.huww-slide-container {
  background-color: white;
  border-radius: units(1);
  box-shadow: $shadow;
  position: relative;
  z-index: 99999;

  @media screen and (max-width: 1023px) {
    transition: #{$transition}ms ease;
    .huww-slider[data-slide='collapsed'] & {
      .huww-widget-top-left & {
        border-radius: 0 0 $f_radius 0;
        transform: translate(-$f_offset, -$f_offset);
      }
      .huww-widget-top-right & {
        border-radius: 0 0 0 $f_radius;
        transform: translate($f_offset, -$f_offset);
      }
      .huww-widget-bottom-left & {
        border-radius: 0 $f_radius 0 0;
        transform: translate(-$f_offset, $f_offset);
      }
      .huww-widget-bottom-right & {
        border-radius: $f_radius 0 0 0;
        transform: translate($f_offset, $f_offset);
      }
      .huww-widget-middle-left & {
        border-radius: 0 $f_radius $f_radius 0;
        transform: translateX(-$f_offset);
      }
      .huww-widget-middle-right & {
        border-radius: $f_radius 0 0 $f_radius;
        transform: translateX($f_offset);
      }
    }
  }
}

.huww-button-collapse {
  @include size(1.5, 1.5);
  background: #505050;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -30%);
  cursor: pointer;
  transition: 0.2s ease;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: units(0.8);
    background: #fff;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:hover {
    background: $color_blue;
  }
}

.huww-widget-four {
  padding: units(1.5) units(1) units(1) units(2);

  .huww-half-flag {
    width: units(1);
    @include absolute($left: 0, $top: 0, $bottom: 0);
  }

  .huww-hashtag {
    margin-top: units(0.25);
    margin-bottom: units(1);
  }
}

.huww-widget-three {
  padding: units(1);
  padding-top: units(2);
  text-align: center;

  .huww-title {
    font-size: units(1.75);
    line-height: units(2.25);
    color: $color_blue;
  }

  .huww-subtitle {
    color: $color_yellow;
    padding-bottom: units(1);
  }
}

.huww-widget-two {
  padding: units(2) units(1) units(1) units(1);
  margin-top: units(2);
  text-align: center;

  .huww-divider {
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: units(1) 0;
  }

  .huww-flag {
    margin: units(-4) auto units(1);
  }
}

.huww-widget-one {
  padding: units(1);
  padding-left: units(6);
  margin-right: units(1.5);

  .huww-flag {
    @include absolute($top: 1, $left: 1, $bottom: 1);
    height: units(4.5);
  }
}

.huww-flag {
  width: units(4);

  .huww-flag-top {
    @include size(4, 2);
    background: $color_blue;
    border-radius: units(1) units(1) 0 0;
    display: block;
  }

  .huww-flag-bottom {
    @include size(4, 2);
    background: $color_yellow;
    border-radius: 0 0 units(1) units(1);
    display: block;
  }
}

.huww-half-flag {
  .huww-half-flag-top {
    @include size(4, 2);
    background: $color_blue;
    border-radius: units(1) 0 0 0;
    height: 50%;
    width: 100%;
    display: block;
  }

  .huww-half-flag-bottom {
    @include size(4, 2);
    background: $color_yellow;
    border-radius: 0 0 0 units(1);
    height: 50%;
    width: 100%;
    display: block;
  }
}

.huww-title {
  font-size: units(1.625);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: units(2);
  margin: 0;
  opacity: 0.8;
}

.huww-subtitle {
  font-size: units(1.75);
  line-height: units(2.25);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

  margin: 0;
  opacity: 0.8;
}

.huww-link {
  font-family: 'Roboto', sans-serif;
  font-size: units(1.5);
  font-weight: 500;
  line-height: units(1.75);
  color: $color_blue;
  text-decoration: none;
  position: relative;
  padding-right: 1em;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    font-size: inherit;
    width: 0.3em;
    height: 0.3em;
    right: 0.5em;
    transform: translate(50%, -60%) rotate(-45deg);
    border: none;
    border-left: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: currentColor;
    color: inherit;
  }
}

.huww-button {
  display: block;
  background: rgba(55, 152, 206, 0.12);
  border-radius: units(0.5);

  color: $color_blue;

  font-family: 'Roboto', sans-serif;
  font-size: units(1.5);
  font-weight: 500;

  line-height: units(3.25);

  text-align: center;

  text-decoration: none;

  &:after {
    content: '';
    display: inline-block;
    font-size: inherit;
    width: 0.3em;
    height: 0.3em;
    right: 0.5em;
    transform: translate(30%, -25%) rotate(-135deg);
    border: none;
    border-left: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: currentColor;
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

.huww-hashtag {
  font-family: 'Roboto', sans-serif;
  font-size: units(1.5);
  font-weight: 400;

  color: #000000;
  opacity: 0.6;
  margin: 0;
}

.huww-flag-wrapper {
  height: units(5.5);
  width: units(5.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .huww-separeted-flag-top {
    @include size(4, 2);
    background: $color_blue;
    border-radius: units(1) units(1) 0 0;
    display: block;
  }

  .huww-separeted-flag-bottom {
    @include size(4, 2);
    background: $color_yellow;
    border-radius: 0 0 units(1) units(1);
    display: block;
  }
}

.huww-expended-widget-wrapper {
  width: units(25.7);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: units(0.5);
  position: relative;

  .huww-divider {
    display: block;
    width: 100%;
    height: 0.5px;
    background: #e5e5e5;
    margin: units(0.5) 0;
  }
}

.huww-expended-widget-wrapper-small {
  width: units(19.25);
  padding: units(1);

  .huww-action {
    width: units(19.25);
    font-size: units(1.4);
    padding: units(1.6);
  }

  .huww-expended-widget-hide {
    font-size: units(1.3);
  }
}

.huww-action {
  @include size(25.4, 3);
  color: $color_blue;
  font-size: units(1.625);
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    background: #2559b514;
    border-radius: 3px;
  }
  padding: units(2);
}

.huww-expended-widget-hide {
  color: #272727;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: units(1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    margin-left: 0.3em;
    font-size: inherit;
    width: 0.3em;
    height: 0.3em;
    right: 0.5em;
    transform: translate(50%, 30%) rotate(135deg);
    border: none;
    border-left: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: currentColor;
    color: inherit;
  }

  &:hover {
    color: $color_blue;
  }
}

.huww-expended-widget-hide-button {
  @include size(1.5, 1.5);
  background: #505050;
  border-radius: 50%;
  display: flex;
  align-self: end;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%, 30%);
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    width: units(0.4);
    height: units(0.4);
    top: 50%;
    left: 50%;
    border: none;
    border-top: solid;
    border-left: solid;
    border-width: 2px;
    border-color: #fff;
    transform: translate(-35%, -55%) rotate(-45deg);
    transition: 0.2s ease;
  }

  &:hover {
    background: $color_blue;
  }
}

.huww-heart {
  color: #ff3f30;
}
